# Eclipse
.classpath
.project
.metadata
.recommenders
.settings
bin

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/repository/

# Project
*.log
log4j2-*

# DB files
/db/*.db
/db/*.db-shm
/db/*.db-wal
backlog_snapshot.bak

peer-inner-debug.list
peer-public-debug.list
