# Eclipse
.classpath
.project
.metadata
.recommenders
.settings
bin

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Project
*.log
log4j2-*

# DB files
main.db
main.db-shm
main.db-wal
backlog_snapshot.bak