<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.exscudo.jsonrpc.JrpcService" level="DEBUG" additivity="true">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.exscudo.peer.core.backlog.tasks.SyncForkedTransactionListTask" level="DEBUG"
                additivity="true">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.exscudo.jsonrpc.JrpcServiceProxy" level="DEBUG" additivity="true">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>